@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


html,
body {
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background     : black;
  box-shadow     : 0 4px 15px 0 rgba(124, 124, 124, 0.37);
  backdrop-filter: blur(1.5px);
  color          : #eaeaea;
  border-radius  : 10px;
  border         : 1px solid rgba(255, 255, 255, 0.18);
  cursor         : pointer;

  &:focus {
    background-color: #3c4ac7;
  }

  &:active {
    background-color: #4b5dff;
  }

  &.active_button {
    background-color: rgb(37, 175, 71);
    color           : #eaeaea;
    outline         : none;
  }
}

.shortcut {
  margin-right: 4px;
} 

@media screen and (max-width: 1280px) {
  .mobile-hide {
    display: none;
  }
}