.container {
  padding: 0 2rem;
}

.main {
  height         : 90vh;
  flex           : 1;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap: 30px;

  .title {
    margin     : 0;
    line-height: 1.15;
    font-size  : 4rem;
    text-align : center;
    white-space: nowrap; 
  }

  .editor {
    display       : flex;
    flex-direction: row;

    .canvas {
      min-width                : 30vw;
      width                    : 45vw;
      max-width                : 60vw;
      min-height               : 15rem;
      height                   : 30vh;
      max-height               : 60vh;
      padding                  : 0rem;
      resize                   : both;
      overflow                 : auto;
      direction                : rtl;
      border-bottom-left-radius: 0 !important;
    }

    canvas,
    .canvas {
      border-radius   : 10px;
      border          : #f2f2f2 1px solid;
      background-color: transparent;
    }

    .settings {
      display        : flex;
      flex-direction : column;
      justify-content: space-between;
      min-width      : 15vw;
      padding        : 1.5rem;

      input {
        width        : 100%;
        border-radius: 5px;

        &:focus {
          outline-color: #0070f3;
        }
      }

      .flex_column {
        display        : flex;
        flex-direction : column;
        height         : 100%;
        min-height     : 10rem;
        justify-content: space-evenly;
      }

      .setting_button {
        text-align : center;
        padding    : 0.5rem 2rem;
        font-size  : large;
        font-family: 'Fredoka', sans-serif;
        flex-shrink: 1;

        &:focus {
          outline-color: #0070f3;
        }

      }

      .columns_2 {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap      : 1rem;
        align-items          : center;
        justify-items        : stretch;
      }
    }

    .canvas,
    .settings {
      margin         : 1rem;
      transition     : color 0.15s ease, border-color 0.15s ease;
      box-shadow     : 0 8px 32px 0 rgb(100 100 100 / 25%);
      backdrop-filter: blur(2.5px);
      border-radius  : 10px;
      border         : 2px solid rgba(255, 255, 255, 0.18);

      &:hover,
      &:focus,
      &:active {
        color       : #0070f3;
        border-color: #0070f3;

        @media screen and (max-width: 1280px) {
          color       : #0070f3;
          border-color: rgba(255, 255, 255, 0.18);
        }
      }
    }
  }
}

.footer {
  height         : 10vh;
  display        : flex;
  flex           : 1;
  padding        : 2rem 0;
  border-top     : 1px solid #eaeaea;
  justify-content: center;
  align-items    : center;

  a {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-grow      : 1;
    color          : #0070f3;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    min-height: 90vh;
    height    : unset;

    .title {
      margin-top: 7.5vh;
      font-size  : 3rem;
    }

    .editor {
      flex-direction: column;

      .canvas {
        min-width : 60vw;
        max-width : 90vw;
        min-height: 20vh;
        max-height: 32.5vh;
        padding   : 0rem;
      }
    }
  }
}